@using ChatGPT_UI.Models;

<h2>ChatGPT AI</h2>

@(
Html.DevExtreme().Form<Chats>()
        .ID("form")
        .Items(_ =>
        {
            _.AddSimpleFor(_ => _.Prompt);
            _.AddSimpleFor(_ => _.Message)
                .ColSpan(2)
                .Editor(e => e
                    .TextArea()
                    .Height(150));
        })
        .ColCount(1)
        .FormData(Model)
        .LabelMode(FormLabelMode.Floating)
        .LabelLocation(FormLabelLocation.Left)
        .MinColWidth(300)
        .ReadOnly(true)
        .ShowColonAfterLabel(true)
)

<br>

<div class="left-content">
    @(Html.DevExtreme().TextArea()
        .ID("PromptBox")
        .Height(45)
        .OnValueChanged("textArea_valueChanged")
        .Placeholder("Send a message.")
        )
</div>

<script src="~/js/Pages/Chat.js"></script>