@using ChatGPT_UI.Models;

<div class="prompt">

@(
Html.DevExtreme().Form<Chats>()
        .ID("form")
        .Items(_ =>
        {
            _.AddSimpleFor(_ => _.Prompt);
            _.AddSimpleFor(_ => _.Message)
                .ColSpan(2)
                .Editor(e => e
                    .TextArea()
                    .Height(400));
        })
        .ColCount(1)
        .FormData(Model)
        .LabelMode(FormLabelMode.Floating)
        .LabelLocation(FormLabelLocation.Left)
        .MinColWidth(300)
        .ReadOnly(true)
        .ShowColonAfterLabel(true)
)

<br>

    <div class="chat-input">
        @(Html.DevExtreme().TextArea()
            .ID("PromptBox")
            .Height(45)
            .OnValueChanged("textArea_valueChanged")
            .Placeholder("Send a message.")
            )
    </div>

</div>

<div class="history">
    <h4> Chat History</h4>
    @(Html.DevExtreme().DataGrid<TextHistory>()
        .DataSource(d => d.Mvc()
        .Controller("ChatWebApi")
        .LoadAction("GetChatHistory")
        .Key("Id")
        )
        .RemoteOperations(true)
        .Columns(columns =>
        {
            columns.AddFor(_ => _.Prompt)
            .GroupIndex(0);

            columns.AddFor(_ => _.Content);
        })
        .Grouping(grouping => grouping.AutoExpandAll(true))
        .GroupPanel(groupPanel => groupPanel.Visible(true))
        .WordWrapEnabled(true)
        )
</div>
<script src="~/js/Pages/Chat.js"></script>