
<div class="prompt">
<img class="dalle-image" id="dalle-image" height="500" width="500"/>

<br />
    <div class="chat-input">
    @(Html.DevExtreme().TextArea()
        .ID("PromptBox")
        .Height(45)
        .Width(1000)
        .OnValueChanged("ReturnGeneratedImage")
        .Placeholder("Add a prompt")
        )
        <button type="button" class="btn btn-primary">Send Prompt </button>
    </div>
</div>

<div class="history">
    <h4>History</h4>
    @(Html.DevExtreme().DataGrid<TextHistory>()
        .DataSource(d => d.Mvc()
        .Controller("ImageWebApi")
        .LoadAction("GetImageHistory")
        .Key("Id")
        )
        .RemoteOperations(true)
        .Columns(columns =>
        {
            columns.AddFor(_ => _.Prompt)
            .GroupIndex(0);

            columns.AddFor(_ => _.Content)
                .CellTemplate(@<text>
                    <div> 
                        <a href="<%- value %>"> Click here to view image </a>
                    </div>
                </text>);
        })
        .Grouping(grouping => grouping.AutoExpandAll(true))
        .GroupPanel(groupPanel => groupPanel.Visible(true))
        .WordWrapEnabled(true)
        )
</div>

<script src="~/js/Pages/Images.js"></script>