@using ChatGPT_UI.Models;
<br>
<br>
<div class="prompt">

    @(Html.DevExtreme().TextArea()
        .ID("TextInputBox")
        .Height(100)
        .Placeholder("Add some text and select one of the options")
      )

    <br />

    @(Html.DevExtreme().SelectBox()
        .ID("search-box")
        .DataSource(new[] {
            "Spell Check",
            "Grammar Check",
            "Translate into French"
        })
        .Placeholder("Select one of the options to perform on the text above")
        .OnValueChanged("ReturnAIResponse")
        .SearchEnabled(true)
    )
    <br>
    <br>

    @(Html.DevExtreme().TextArea()
        .ID("ResponseTextBox")
        .Height(100)
        )
</div>
<div class="history">
    <h4> History</h4>
    @(Html.DevExtreme().DataGrid<TextHistory>()
        .DataSource(d => d.Mvc()
        .Controller("TextWebApi")
        .LoadAction("GetTextHistory")
        .Key("Id")
        )
        .RemoteOperations(true)
        .Columns(columns =>
        {
            columns.AddFor(_ => _.Prompt)
                .GroupIndex(0);

            columns.AddFor(_ => _.Content);
        })
        .Grouping(grouping => grouping.AutoExpandAll(true))
        .GroupPanel(groupPanel => groupPanel.Visible(true))
        .WordWrapEnabled(true)
     )
</div>

<script src="~/js/Pages/Text.js"></script>