@using ChatGPT_UI.Models;

<h2>ChatGPT AI</h2>

@(
Html.DevExtreme().Form<Chat>()
        .ID("form")
        .ColCount(1)
        .FormData(Model)
        .LabelMode(FormLabelMode.Floating)
        .LabelLocation(FormLabelLocation.Left)
        .MinColWidth(300)
        .ReadOnly(true)
        .ShowColonAfterLabel(true)
)

<br>

<div class="left-content">
    @(Html.DevExtreme().TextArea()
        .ID("PromptBox")
        .Height(45)
        .OnValueChanged("textArea_valueChanged")
        .Placeholder("Send a message.")
     )
</div>

<script src="~/js/Pages/Chat.js"></script>