@using ChatGPT_UI.Models;

<h2>Home</h2>

@(Html.DevExtreme().DataGrid<Chat>()
    .ShowBorders(true)
    .DataSource(d => d.Mvc()
        .Controller("ChatWebApi")
        .LoadAction("Get")
        .Key("Id"))
    .Columns(columns => {
        columns.AddFor(m => m.Message);
    })
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true))
    .Grouping(g => g.AutoExpandAll(false))
    .RemoteOperations(true)
)