body {
}

.history {
    width: 37%;
    margin-right: 2%;
    float: left;
}

.prompt {
    width: 60%;
    float: right;
}

.clearfix {
    clear: both
}

.chat-input {
    position: fixed;
    bottom: 2%;
    width: 60%;
}

.card_1 {
    width: 30%;
    margin-right: 2%;
    float: left;
}

.card_2 {
    width: 30%;
    margin-right: 2%;
    float: right;
}

.card_3 {
    width: 30%;
    margin-right: 2%;
    float: right;
}